@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "noto sans Arabic", tohama;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100;
  background: rgb(178, 102, 248);
}
.container {
  width: 400 px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
.container .info h1 {
  font-family: "lalezar", tohama;
}
.container form {
  margin: 15 px 0 25px;
}
.container form :where(input, button) {
  outline: 0;
  border: 0;
  width: 100%;
  border-radius: 5 px;
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
}
.container form input {
  border: 1px solid #999;
}
.container form button {
  background: rgba(57, 2, 174, 0.715);
  color: #999;
}
.container .qr-code {
  border: 1px solid #999;
  border-radius: 5pz;
  text-align: center;
  padding: 10px;
}
.hidden {
  display:  none;
}